<div ng-controller="ConsoleController">
    <div class="modal-inner">
        <p style="text-align: center;" ng-if="inventory.length === 0">Your inventory is empty.</p>
        <p ng-repeat="item in inventory track by $index">
            <i class="fa fa-arrow-up" ng-if="item.fullEffectiveness > myShip[item.type].fullEffectiveness"></i>
            <i class="fa fa-minus" ng-if="item.fullEffectiveness === myShip[item.type].fullEffectiveness"></i>
            <i class="fa fa-arrow-down" ng-if="item.fullEffectiveness < myShip[item.type].fullEffectiveness"></i>
            <button class="btn deets {{item.quality}}" ng-click="details($index, 'inventory')">{{ item.name | camelCaseToHuman | titlecase}} <i class="fa fa-wrench" ng-if="item.componentsNeeded.length > 0"></i></button>
            <button class="btn btn-danger pull-right delete" ng-if="currentState!=='station'" ng-click="deleteItem($index)">Jetison</button>
            <button class="btn btn-danger pull-right delete" ng-if="currentState==='station'" ng-click="recycle($index)">Recycle</button>
            <button class="btn btn-danger pull-right delete" ng-if="currentState==='station'" ng-click="fitToShip($index)">Fit to Ship</button>
        </p>
    </div>
</div>