<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ inventory[itemIndex].name | camelCaseToHuman | titlecase }}</h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-6">
                    <div class="modal-inner">
                        <p>Level: {{ inventory[itemIndex].level }}</p>
                        <p>Type: {{ inventory[itemIndex].type | camelCaseToHuman }}</p>
                        <p ng-if="inventory[itemIndex].penalty">Damaged Penalty: {{ inventory[itemIndex].penalty }}</p>
                        <p>Enhancement: <span ng-if="inventory[itemIndex].currentEffectiveness > 0">+</span>{{ inventory[itemIndex].currentEffectiveness }}/{{ inventory[itemIndex].fullEffectiveness }} {{ inventory[itemIndex].enhancement | titlecase }}
                            <i class="fa fa-arrow-up" ng-if="inventory[itemIndex].fullEffectiveness > myShip[inventory[itemIndex].type].fullEffectiveness"></i>
                            <i class="fa fa-minus" ng-if="inventory[itemIndex].fullEffectiveness === myShip[inventory[itemIndex].type].fullEffectiveness"></i>
                            <i class="fa fa-arrow-down" ng-if="inventory[itemIndex].fullEffectiveness < myShip[inventory[itemIndex].type].fullEffectiveness"></i>
                        </p>
                        <p>Value: {{  inventory[itemIndex].currentValue }}&#11363;</p>
                        <p>Quality: {{  inventory[itemIndex].quality | titlecase }}</p>
                        <div ng-if="!inventory[itemIndex].componentsNeeded.length">
                            <p>Status: Good</p>
                            <div class="clearfix"></div>
                        </div>

                        <div ng-if="inventory[itemIndex].componentsNeeded.length > 0">
                            <p>Status: Repairs Needed <i class="fa fa-warning"></i></p>
                            <ul>
                                <li ng-repeat="component in inventory[itemIndex].componentsNeeded">
                                    <div class="btn btn-default btn-xs" ng-click="repairItem($index)" data-toggle="tooltip" title="Click to Repair">
                                        <i class="fa fa-square-o"></i>
                                        {{ component.name | camelCaseToHuman }}<span>: {{ componentInventory[component.name] }}/{{ component.need }}
                                            <i class="fa fa-wrench"></i>
                                    </span>
                                    </div>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>



                        <div ng-if="inventory[itemIndex].repaired.length > 0">
                            <p>Repairs Completed</p>
                            <ul>
                                <li ng-repeat="component in inventory[itemIndex].repaired | orderBy:$index">
                                    <i class="fa fa-check-square-o"></i> {{ component | camelCaseToHuman }}
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <img src="{{inventory[itemIndex].image}}" alt="">
                </div>
                <div class="clearfix"></div>

            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close(true)" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>