<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ myShip[itemIndex].name | camelCaseToHuman | titlecase }}</h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-6">
                    <div class="modal-inner">
                        <p>Level: {{ myShip[itemIndex].level }}</p>
                        <p>Type: {{ myShip[itemIndex].type | camelCaseToHuman }}</p>
                        <p>Enhancement: <span ng-if="myShip[itemIndex].currentEffectiveness > 0">+</span>{{ myShip[itemIndex].currentEffectiveness }}/{{ myShip[itemIndex].fullEffectiveness }} {{ myShip[itemIndex].enhancement | titlecase }}</p>
                        <p>Value: {{  myShip[itemIndex].currentValue }}&#11363;</p>
                        <p>Quality: {{  myShip[itemIndex].quality | titlecase }}</p>
                        <div ng-if="!myShip[itemIndex].componentsNeeded.length">
                            <p>Status: Good</p>
                            <div class="clearfix"></div>
                        </div>

                        <div ng-if="myShip[itemIndex].componentsNeeded.length > 0">
                            <p>Status: Repairs Needed <i class="fa fa-warning"></i></p>
                            <ul>
                                <li ng-repeat="component in myShip[itemIndex].componentsNeeded">
                                    <div class="btn btn-default btn-xs" ng-click="repairItem($index, true)" data-toggle="tooltip" title="Click to Repair">
                                        <i class="fa fa-square-o"></i>
                                        {{ component.name | camelCaseToHuman }}<span>: {{ componentInventory[component.name] }}/{{ component.need }}
                                            <i class="fa fa-wrench"></i>
                                    </span>
                                    </div>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>



                        <div ng-if="myShip[itemIndex].repaired.length > 0">
                            <p>Repairs Completed</p>
                            <ul>
                                <li ng-repeat="component in myShip[itemIndex].repaired | orderBy:$index">
                                    <i class="fa fa-check-square-o"></i> {{ component | camelCaseToHuman }}
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <img src="{{myShip[itemIndex].image}}" alt="">
                </div>
                <div class="clearfix"></div>

            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close(true)" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>