<div ng-controller="ConsoleController">
    <div id="stats" class="modal-inner">
        <div class="row top-stats">
            <div class="col-xs-4">{{ stats.name | camelCaseToHuman }}</div>
            <div class="col-xs-4">Level: {{ stats.level }}</div>
            <div class="col-sm-4">{{ stats.credits }}&#11363;</div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <p>Dist: {{ stats.distanceTraveled }}/{{ stats.totalDistance }} ly</p>
                <p>Days Traveled: {{ stats.daysTraveled }}</p>
                <p>Ship: {{ stats.ship }}</p>
                <p>Exp: {{ stats.experience }}</p>
            </div>
            <div class="col-xs-6">
                <p><i class="fa fa-angle-double-up"></i> Attack: {{ stats.attack }}</p>
                <p><i class="fa fa-crosshairs"></i> Accuracy: {{ stats.accuracy }}</p>
                <p><i class="fa fa-arrows"></i> Maneuverability: {{ stats.maneuverability }}</p>
                <p><i class="fa fa-tachometer"></i> Speed: {{ stats.speed }}</p>
                <p><i class="fa fa-shield"></i> Shield: {{ stats.shield }}</p>
                <p><i class="fa fa-heartbeat"></i> Hull: {{ stats.hull }}</p>
            </div>
        </div>

    </div>

</div>