<div ng-controller="StatsController">
    <div id="stats">
        <div class="row top-stats">
            <div class="col-xs-4">{{ stats.name | camelCaseToHuman }}</div>
            <div class="col-xs-4">Level: {{ stats.level }}</div>
            <div class="col-sm-4">{{ stats.credits }} cr</div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <p>Dist: {{ stats.distanceTraveled }}/{{ stats.totalDistance }} ly</p>
                <p>Days Traveled: {{ stats.daysTraveled }}</p>
                Ship: {{ stats.ship }}</p>
            </div>
            <div class="col-xs-6">
                <p>Attack: {{ InventoryService.myShip.attack }}</p>
                <p>Accuracy: {{ InventoryService.myShip.accuracy }}</p>
                <p>Maneuverability: {{ InventoryService.myShip.maneuverability }}</p>
                <p>Speed: {{ InventoryService.myShip.speed }}</p>
                <p>Shield: {{ InventoryService.myShip.shield }}</p>
                <p>Hull: {{ InventoryService.myShip.hull }}</p>
            </div>
        </div>

    </div>

</div>