<div ng-controller="ConsoleController">
    <h3 class="text-center">Stock Brokerage</h3>
    <div style="margin-bottom:8px;" ng-repeat="stock in stockMarket | orderBy : 'name'">
        <button class="button button-sm button-success fullwidth" ui-sref="stock-detail({ticker: stock.ticker})">
            {{stock.ticker}}: {{stock.name}}
            <br/>
            <span class="gold">{{stock.value[stock.value.length - 1] | currency:"Ᵽ"}}</span>
            <span ng-class="stock.change > 0 ? 'success' : 'danger'">
            <span ng-if="stock.change > 0">+</span>{{(stock.value[stock.value.length-1]-stock.value[stock.value.length-2]) | number : 2 | currency:"Ᵽ"}}
            <span ng-if="stock.change > 0">+</span>{{((stock.value[stock.value.length-1]-stock.value[stock.value.length-2])/stock.value[stock.value.length-2]) | number : 2}}%
        </span>
            <i class="fa fa-arrow-up" ng-if="stock.change > 0"></i>
            <i class="fa fa-minus" ng-if="stock.change === 0"></i>
            <i class="fa fa-arrow-down" ng-if="stock.change < 0"></i>
        </button>
    </div>
</div>