<!DOCTYPE html>
<html lang="en" ng-app="spaceApp">
<head>
    <meta charset="UTF-8">
    <title>Space</title>

    <script src="assets/js/analytics.js"></script>
    <script src="assets/js/jquery-3.2.1.js"></script>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-ui-router.js"></script>
    <script src="assets/js/bootstrap-modal.min.js"></script>
    <script src="assets/js/angular-foundation-6.js"></script>
    <script src="assets/js/angular-modal-service.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-sanitize.js"></script>
    <script src="app.js"></script>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <script src="services/ActionService.js"></script>
    <script src="services/DataService.js"></script>
    <script src="services/GenerateService.js"></script>
    <script src="services/InventoryService.js"></script>
    <script src="services/ItemService.js"></script>
    <script src="services/NewGameService.js"></script>
    <script src="services/ShipService.js"></script>
    <script src="services/UniverseService.js"></script>
    <script src="services/UtilService.js"></script>
    <script src="filters/filters.js"></script>
    <link rel="stylesheet" href="assets/css/foundation.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <script src="assets/js/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>


<body ng-controller="MainController">

<div class="container" style="padding:0;">
    <div class="col-sm-6">
        <div class="row">
            <div id="view" class="span-12 partial" ng-controller="ViewscreenController">
                <div id="view-inner">
                    <div style="position:relative">
                        <canvas id="starfield" ng-show="starfield"></canvas>
                        <img id="background" class="img-responsive img-rounded" ng-src="{{ background }}">
                        <img id="foreground" class="img-responsive img-rounded" ng-src="{{ foreground }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-12">
                <div id="label" class="info partial">{{ label | titlecase }}</div>
            </div>
        </div>
        <div class="row">
            <div id="actions" class="span-12 partial" ng-controller="ActionController">
                <button class="btn btn-default col" ng-click="action.travel()" ng-hide="currentState === 'combat'" ng-disabled="starfield">Travel</button>
                <button class="btn btn-default col" ng-click="action.buy()" ng-if="currentState==='merchant'||currentState==='station'">Buy</button>
                <button class="btn btn-default col" ng-click="action.sell()" ng-if="currentState==='merchant'||currentState==='station'">Sell</button>
                <button class="btn btn-default col" ng-click="action.hangar()" ng-if="currentState==='station'">Hangar</button>
                <button class="btn btn-default col" ng-click="action.repair()" ng-if="currentState==='station' && stats.currentHull < stats.hull">Repair {{ (stats.hull - stats.currentHull) * 5 }}&#11363;</button>
                <button class="btn btn-default col" ng-click="action.investigate()" ng-if="investigated === false">Investigate</button>
                <button class="btn btn-default col" ng-click="action.attack()" ng-if="currentState === 'combat'">Attack</button>
                <button class="btn btn-default col" ng-click="action.escape()" ng-if="currentState === 'combat'">Escape</button>
            </div>
        </div>


        <div ng-controller="ConsoleController">
            <div class="row">
                <div class="span-12 info partial">
                    <i class="fa fa-heartbeat danger"></i> Hull: {{ stats.currentHull }} | <i class="fa fa-shield shield"></i> Shields: {{ stats.currentShield }} | <span class="gold">&#11363;</span> {{ stats.credits }}
                </div>
            </div>
        </div>
    </div>


    <div class="col-sm-6">

        <div class="row">
            <div id="console" class="col-sm">
                <div id="console-buttons" class="partial console">
                    <ul>
                        <li ui-sref="log" ui-sref-active="active" ng-click="">Log</li>
                        <li ui-sref="stats" ui-sref-active="active">Stats</li>
                        <li ui-sref="inventory-selection" ui-sref-active="active">Inventory</li>
                        <li ui-sref="" ui-sref-active="active">Map?</li>
                    </ul>
                </div>
                <div id="console-inner" class="console col-sm-12">
                    <ui-view></ui-view>
                </div>
            </div>
        </div>
    </div>

</div>

</body>


</html>