<!DOCTYPE html>
<html lang="en" ng-app="spaceApp">
<head>
    <meta charset="UTF-8">
    <title>Space</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="app.js"></script>
    <link rel="stylesheet" href="assets/main.css">
</head>


<body ng-controller="MainController">

    <div class="col-sm-5 partial" ng-controller="ViewscreenController">

        <img class="img-responsive img-rounded" ng-src="{{ image }}" alt="">

    </div>

    <div class="col-sm-7 partial" ng-controller="StatsController">

        <h4>Stats</h4>
        <p ng-repeat="(key, value) in stats">
            {{ key | camelCaseToHuman }}: {{ value }}
        </p>

    </div>

    <div class="col-sm-12 partial" ng-controller="ActionsController">

        <button class="btn" ng-click="travel()">Travel</button>
        <button class="btn" ng-click="merchant()" ng-if="state==='merchant'">Merchant</button>
        <button class="btn" ng-click="investigate()" ng-if="state==='opportunity'">Investigate</button>

    </div>

    <div id="console" class="col-sm-12 partial" ng-controller="ConsoleController">

        <p ng-repeat="item in journal track by $index">

            {{ item }}

        </p>

    </div>

</body>


</html>