body {
    background-image: url("../img/1.jpg");
    background-repeat: repeat;
    font-family: Consolas;
}
.modal-content, .console {
    background-color: rgba(0,0,0,.7);
    color: dodgerblue;
    background-repeat: repeat;
}
.modal-body, .modal-title {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}
.modal-body {
    padding: 10px 0;
}
.modal-body .fa {
    color: #17837a;
}
.modal-title {
    text-align: center;
    font-weight: 600;
    border-radius: 6px;
}
.modal-inner {
    font-size: 1em;
}
.modal-inner ul{
    margin:0;
    list-style:none;
    font-size:.8em;
}
.modal-inner ul li .btn{
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px rgba(23, 131, 122, 0.5) solid;
}
.modal-inner p{
    margin-bottom:5px;
}
.modal img {
    margin: 15px auto 5px;
    width:50%;
    opacity: .8;
    display: block;
    border-radius: 6px;
}
.modal-footer .btn {
    opacity:.8;
}
#stats {
    font-size:0.9em;
}
.top-stats div{
    text-align: center;
    border-right:1px solid dodgerblue;
    margin-bottom:2px;
}
.top-stats div:last-child {
    border-right:none;
}
#inventory {
    font-size:0.8em;
}
.partial {
    margin-top:8px;
}
.console {
    border-width: 0 2px 2px 2px;
}
.console .btn{

    background-color: rgba(0,0,0,.7);
}
#console-inner {
    border-top:1px solid #595959;
    height:200px;
    padding:5px 15px 5px;
    border-radius:0 0 6px 6px;
    overflow-y: auto;
}
#console-inner p {
    margin-bottom:0;
}
#console-inner ul {
    list-style: none;
}
#console-inner .btn {
    margin-bottom:5px;
}
#console-buttons {
    border-width: 2px 2px 0 2px;
    border-radius:6px 6px 0 0;
}
#console-buttons ul{
    display: -moz-box;
    display: -webkit-box;
    display: box;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#console-buttons ul li {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    border-right:1px solid #595959;
    padding:15px;
    cursor: pointer;
    text-align:center;
    color: white;
}
.sub-menu {
    border-top:1px solid #595959;
}
.sub-menu li {
    padding:5px !important;
    background-color: rgba(0,0,0,.5);
}
.sub-menu .active {
    background-color: rgba(0,0,0,.9);
}
#console-buttons ul li:first-child:hover {
    border-radius:6px 0 0 0;
}
#console-buttons ul li:last-child {
    border:none;
}
#console-buttons ul li:last-child:hover {
    border-radius:0 6px 0 0 ;
}
#console-buttons ul li:hover{
    /*color: deepskyblue;*/
}
#console-buttons ul li:active{
    background-color: black;
    color: dodgerblue;
}
#view img{
    width:100%;
}
#view-inner {
    -webkit-background-size:cover;
    background-size:cover;
    border-radius:6px;
}
#background {
    /*position:absolute;*/
    /*top:0;*/
    /*left:0;*/
    /*z-index:0;*/
}
#foreground {
    position: absolute;
    top: 0;
    left: 0;
}
#starfield {
    border-radius:6px;
    z-index:10;
}
.info {
    padding-top: 10px;
    padding-bottom:10px;
    text-align: center;
    border-radius:6px;
    border:2px solid #595959;
    background-color: rgba(0,0,0,.7);
    color: dodgerblue;
}
.danger {
    color: #d9534f;
}
.shield {
    color: #2ff0fe;
}
.platinum {
    color: #fefcfa;
}
.gold {
    color: #feec11;
}
.silver {
    color: #d3d9b6;
}
.bronze {
    color: #d8ae32;
}
.platinum-bg {
    background-color: rgb(239, 240, 240) !important;
    color: #b9bbb5 !important;
}
.platinum-bg:hover {
    background-color: #dde1de !important;
    color: rgba(255, 252, 252, 0.7) !important;
}
.gold-bg {
    background-color: #b49c06 !important;
    color: rgba(251, 211, 0, 0.7) !important;
}
.gold-bg:hover {
    background-color: rgb(216, 197, 0) !important;
    color: #9a8a00 !important;
}
.silver-bg {
    background-color: #b0b4b0 !important;
    color: rgba(251, 248, 245, 0.7) !important;
}
.silver-bg:hover {
    background-color: rgb(214, 210, 216) !important;
    color: #999a98 !important;
}
.bronze-bg {
    background-color: #b48f2c !important;
    color: rgba(251, 208, 51, 0.7) !important;
}
.bronze-bg:hover {
    background-color: rgba(216, 174, 50, 1) !important;
    color: #9a7728 !important;
}
.success {
    color: #5cb85c;
}
.warning {
    color: #fcf8e3;
}
.legendary {
    color: #ffae05;
}
.epic {
    color: #cd2fff;
}
.rare {
    color: #454dff;
}
.uncommon {
    color: #2eeb1f;
}
.common {
    color: #ffffff;
}
.trash {
    color: #b4b4b4;
}
.btn {
    border: 1px white solid;
    padding: 2px 5px;
}
.insurance.btn {
    border:none;
}
#actions .btn {
    background-color: rgba(0,0,0,.7);
    color: dodgerblue;
    padding:10px;
}
.fa-arrow-up {
    color: #2eeb1f !important;

}
.fa-arrow-down {
    color: #d9534f !important;
}
.fa-minus {
    color: #b2b2b3 !important;
}
.fullwidth {
    width:100%;
}
.log-text {
    font-size:.9em;
}
img {
    image-rendering: pixelated;
}
.inventory-select .btn {
    padding-top:40px;
    padding-bottom:40px;
}